<html>

<head>
    <title>
        <%=title%>
    </title>
    <script defer src="https://friconix.com/cdn/friconix.js">
    </script>
    <!-- link to our css file present in assets folder -->
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <!-- outer DIV -->

    <div class="outer-div">

        <!-- TODO CONTAINER -->

        <div class="todo-container">

            <!-- NAME OF APP -->
            <div class="heading">
                <h1>TODO App</h1>
            </div>


            <div class="add-task-button-form">


                <!-- ADD TASK FORM STARTS HERE -->


                <form action="/create-task" method="POST">

                    <!-- DESCRIPTION CONTAINER -->

                    <div class="description-conatiner">
                        <!-- description head -->
                        <div class="desc">
                            <h5>DESCRIPTION</h5>
                        </div>
                        <!-- actual description -->
                        <div class="desc-form">

                            <!-- input description -->

                            <input type="text" name="task_title" placeholder="What do you need to do?" autocomplete="off" class="input-feilds" required>

                        </div>

                    </div>

                    <!-- DETAILS CONTAINER -->

                    <div class="details-container">
                        <!-- category container -->
                        <div class="category-container">

                            <!-- category head -->
                            <div class="desc">
                                <h5>CATEGORY</h5>
                            </div>

                            <!-- actual category -->
                            <div class="desc-form">

                                <!-- select category -->

                                <select class="input-feilds" name="category" id="selection">
                                    <option value="" disabled selected hidden>Choose a category</option>
                                    <option value="Personal">Personal</option>
                                    <option value="Work">Work</option>
                                    <option value="School">School</option>
                                    <option value="Cleaning">Cleaning</option>
                                    <option value="Other">Other</option>
                                </select>

                            </div>
                        </div>

                        <!-- due-date container -->
                        <div class="due-date-container">

                            <!-- due date head -->
                            <div class="desc">
                                <h5>DUE DATE</h5>
                            </div>

                            <!-- actual due date -->
                            <div class="desc-form">
                                <!-- input due date -->

                                <input type="date" id="datepicker" name="due_date" class="input-feilds" min="2019-06-09">


                            </div>
                        </div>

                    </div>

                    <!-- ADD BUTTON CONTAINER -->
                    <div class="add-button-container">


                        <!-- add task button-->
                        <div class="add-button-div">

                            <button type="submit" id="add-task"><i class="fi-xwsuxl-plus-solid"></i>
                                    ADD TASK</button>

                        </div>


                    </div>
                </form>
            </div>


        </div>

        <div>

        </div>

        <div class="todo-list-container">

            <div class="delete-tasks-button-form">

                <form action="/delete-tasks" method="POST">

                    <!-- DELETE BUTTON CONATINER -->
                    <div class="delete-button-container">


                        <!-- delete tasks button -->
                        <div class="delete-button-div">

                            <button type="submit" id="delete-task"><i class="fi-xnsuxl-trash-bin"></i>
                                    DELETE TASKS</button>

                        </div>


                    </div>

                    <!-- CREATING THE TASK LIST -->
                    <div class="tasks-container">

                        <UL class="unordered-list">
                            <% for(let i of task_list){%>
                                <div class="list-div">
                                    <li class="single-task">
                                        <div class="left">
                                            <div class="check-box">
                                                <input type="checkbox" id="task-check" name="check-task" value="completed">
                                            </div>
                                            <div class="task-detail-container">
                                                <div class="task-description">
                                                    <h5>
                                                        <%=i.task_title %>
                                                    </h5>
                                                </div>
                                                <div class="task-due-date-container">
                                                    <h5>
                                                        <%= i.due_date %>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right">
                                            <div class="task-category-container">
                                                <div class="xyz">
                                                    <h5>
                                                        <%= i.category %>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>

                                    </li>
                                </div>

                                <%}%>
                        </UL>

                    </div>

                </form>

            </div>

        </div>


    </div>







    <!-- js script added at bottom of body -->
    <script type="text/javascript" src="/js/home.js"></script>
</body>

</html>