body {
    background-color: black;
    overflow-y: hidden;
}


/* outer-div contains the background image and is used to get the app at the centre of the webpage*/

.outer-div {
    background-color: rgb(128, 128, 128);
    height: 98vh;
    width: 98vw;
    display: flex;
    background-image: url(../images/100.jpg);
    flex-direction: column;
}


/* todo-conatiner conatins the input part of the div and the add task button*/

.todo-container {
    background-image: linear-gradient(to bottom right, rgb(10, 34, 36), rgb(30, 98, 104));
    background-color: rgb(255, 255, 255);
    height: 42%;
    width: 40%;
    margin: auto;
    border-top: 10px;
    border-left: 10px;
    border-right: 10px;
    border-bottom: 0px;
    position: absolute;
    top: 10%;
    left: 29%;
    border-color: rgb(12, 28, 28);
    border-style: solid;
}


/* css for the heading part */

.heading {
    border-bottom: 1px rgb(39, 103, 107) solid;
    text-align: center;
    height: 19%;
}


/* Positioning icons from Font Awesome */

.fas {
    display: inline-block;
    margin: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 1.4em;
    transform: translateY(-3px);
}

.heading h1 {
    font-family: Lucida Console, Courier, monospace;
    margin-top: 15px;
    color: rgb(239, 232, 226);
}


/* css for the description part */

.description-conatiner {
    border-bottom: 1px rgb(39, 103, 107) solid;
    height: 20%;
    margin-top: 10px;
}

.textarea:active {
    color: red;
}

.desc h5 {
    font-family: Lucida Console, Courier, monospace;
    margin-left: 15px;
    margin-top: 5px;
    color: rgb(239, 232, 226);
}


/* Removing blue border on Click or Focus of Input and Buttons */

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    border: none;
}


/* css for the details part */


/* details-container contains two containers inside it the category container which is used to select the category 
and the other one is the due date container which contains the date picker*/

.details-container {
    border-bottom: 1px rgb(39, 103, 107) solid;
    height: 20%;
    margin-top: 10px;
    display: flex;
}

.category-container {
    width: 50%;
    /* border-right: 1px rgb(39, 103, 107) solid; */
}

.category select {
    border: none;
}

#selection {
    margin-top: -19px;
    margin-left: 10px;
    border: none;
    color: rgb(210, 231, 202);
    ;
}

.black-text {
    color: black;
}

.due-date-container {
    width: 50%;
}


/* css for buttons  */

.add-button-container {
    height: 39%;
    display: flex;
}

.add-button-div {
    margin: auto;
    height: 100%;
    width: 25%;
}

#add-task {
    width: 147px;
    height: 45px;
    border: none;
    background-image: linear-gradient(to bottom right, rgb(52, 21, 95), rgb(4, 59, 174));
    color: white;
    transform: translate(-100px, 34px);
    margin-top: -8px;
}

.delete-button-container {
    height: 39%;
    display: flex;
    /* z-index: 999999999; */
    margin-bottom: -115px;
}

.delete-button-div {
    margin: auto;
    height: 50%;
    width: 25%;
}

#delete-task {
    width: 144px;
    height: 45px;
    border: none;
    background-image: linear-gradient(to bottom right, rgb(155, 4, 4), red);
    background-color: rgb(238, 53, 30);
    position: fixed;
    color: white;
    width: 147px;
    transform: translate(90px, -78px);
}


/* css for icon used in add task button */

.fi-xwsuxl-plus-solid {
    font-size: 25px;
    margin: auto;
    margin-left: 0px;
}


/* css for icon used in delete tasks container */

.fi-xnsuxl-trash-bin {
    font-size: 17px;
    margin: auto;
    margin-left: 0px;
    z-index: 999999999;
}


/* css for TODO lisst Container which consists of the delete button and the tasks that are added */

.todo-list-container {
    background-image: linear-gradient(to top right, rgb(10, 34, 36), rgb(30, 98, 104));
    height: 42%;
    width: 40%;
    margin: auto;
    margin-top: -47px;
    border-top: 0px;
    border-left: 10px;
    border-right: 10px;
    border-bottom: 10px;
    top: 58%;
    left: 29%;
    position: absolute;
    border-color: rgb(12, 28, 28);
    border-style: solid;
    overflow-y: scroll;
    overflow-x: hidden;
}


/* css for common parts */

.input-feilds {
    background: transparent;
    margin-top: -19px;
    margin-left: 13px;
    border: none;
    width: 90%;
    color: rgb(210, 231, 202);
}


/* CSS FOR TODO LIST ITEMS */

.left {
    display: flex;
    left: 17px;
    position: relative;
}

.right {
    display: flex;
    right: 32px;
    position: absolute;
    transition: all .5s ease-in-out;
}


/* list for the tasks that get added */

.unordered-list {
    list-style-type: none;
}


/* list-div contains a single task */

.list-div {
    border: 1px solid rgb(39, 103, 107);
    margin-left: -30px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    transition: all 0.5s ease-in-out;
}

::-webkit-inner-spin-button {
    color: white;
}

.single-task {
    display: flex;
}

.task-description h5 {
    font-family: Lucida Console, Courier, monospace;
    color: rgb(239, 232, 226);
}

.check-box {
    margin-top: 18px;
}

.task-detail-container {
    margin-left: 20px;
    width: 64%;
}


/* details in task */

.task-description {
    word-break: break-word;
    margin-bottom: -15px;
}

.task-due-date-container {
    color: rgb(210, 231, 202);
}

.xyz {
    height: 35px;
    width: 70px;
    text-align: center;
}

.xyz h5 {
    padding: 10px;
}

.bg-seagreen {
    background-image: linear-gradient(to bottom right, rgb(24, 105, 88), rgb(4, 252, 198));
}

.bg-orange {
    background-image: linear-gradient(to bottom right, rgb(255, 81, 0), rgb(255, 238, 0));
}

.bg-violet {
    background-image: linear-gradient(to bottom right, rgb(86, 24, 105), rgb(247, 0, 255));
}

.bg-green {
    background-image: linear-gradient(to bottom right, rgb(10, 119, 0), rgb(95, 255, 80));
}

.bg-blue {
    background-image: linear-gradient(to bottom right, rgb(0, 99, 156), rgb(106, 225, 255));
}

.task-category-container {
    color: rgb(239, 232, 226);
    margin-left: 100px;
}


/* css for changing the default inputs styles */

::-webkit-input-placeholder {
    color: rgb(210, 231, 202);
    ;
    font-size: 13px;
}

 ::-moz-placeholder {
    color: rgb(210, 231, 202);
    ;
    font-size: 13px;
}

 :-ms-input-placeholder {
    color: rgb(210, 231, 202);
    ;
    font-size: 13px;
}

 ::placeholder {
    color: rgb(210, 231, 202);
    ;
    font-size: 13px;
}


/* CSS FOR SCROLLBAR */

.force-overflow {
    min-height: 450px;
}

#wrapper {
    text-align: center;
    width: 500px;
    margin: auto;
}


/*
 *  STYLE 1
 */

#style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

#style-1::-webkit-scrollbar {
    width: 12px;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #113b3e87;
}


/* DATEPICKER NATIVE CSS */


/* input[type="date"]:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f073";
    color: rgb(210, 231, 202);
    padding: 0 5px;
} */


/* make the native arrow invisible and stretch it over the whole field 
 so you can click anywhere
 in the input field to trigger the native datepicker*/


/* 
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
} */


/* adjust increase/decrease button */


/* input[type="date"]::-webkit-inner-spin-button {
    z-index: 99999999999999;
} */


/* adjust clear button */


/* input[type="date"]::-webkit-clear-button {
    z-index: 999999999999999999;
} */